<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>Application météo</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3 class="text-success text-center my-3">Une application météo basique avec Fastify</h3>
            </div>
            <div class="offset-lg-1 col-lg-4">
                <p class="fw-bold">Entrez les détails pour avoir la météo</p>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <form action="/weather" method="post" class="form form-inline">
                    <div class="row">
                        <div class="offset-lg-1 col-lg-4">
                            <label for="cityInput" class="label">Ville: </label>
                            <input type="text" name="cityName" placeholder="Saississez la ville" id="cityInput"
                                class="form-control mt-2" value=<% if (typeof cityName !=='undefined' ) { %>
                            <%= cityName %>
                                <% } %>>
                        </div>

                        <div class="col-lg-4">
                            <label for="unitInput" class="label">Unité</label>
                            <select name="unit" id="" class="form-control mt-2">
                                <option disabled>Chosissez une unité</option>
                                <option <% if (typeof unit !=='undefined' && unit=="metric" ) { %>
                                    <%= "selected" %>
                                        <% } %> value="metric">Celsius
                                </option>
                                <option <% if (typeof unit !=='undefined' && unit=="" ) { %>
                                    <%= "selected" %>
                                        <% } %> value="">Kelvin
                                </option>
                            </select>
                            <!-- <input type="text" name="unit" placeholder="Entrez une unité" id="unitInput"
                                class="form-control mt-2" value=<% if (typeof unit !== 'undefined') {  %> <%= unit %> <% } %>/> -->
                        </div>

                        <div class="col-lg-2 mt-4">
                            <button type="submit" class="btn btn-success mt-2">Validez</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="row mt-4">
            <div class="offset-lg-1 col-lg-11">
                <% if (typeof temperature !=='undefined' ) { %>
                    <span class="alert alert-success">
                        <span>Il fait <span class="text-success fw-bold">
                                <%= temperature %>
                        </span> °<%= systeme  %> à <%= cityName %></span> et l'image corresponante est <img src=<%=imageURL %>
                        alt="Image"></span>
                    </span>
                <% } %>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
    </div>
</body>

</html>